*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}
header, footer{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 208, 255);
    color: black;
}
header h1{
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
}
main{
    height: 80%;
    width: 100%;
    background-image:url('/client/assets/background\ mobile.png');
    background-repeat:repeat;
    filter: grayscale(40%); 
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#input-box{
    width:70%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#textGibi{
    width: 100%;
    height: 20%;
    border: 1px solid black;
    border-radius: 25px;
}
#textGibi:focus{
    padding: 1px;
}

#check{
    width: 80%;
    height: 20%;
    border: none;
    border-radius: 25px;
    font-size: 17px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: aliceblue;
    background-color: rgb(28, 26, 97);
}
#check:active{
    background-color: rgb(0, 183, 255);
}

.add{
    position: absolute;
    width: 60px;
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 50%;
    color: #000000;
    background-color: rgba(240, 248, 255, 0.814);
    top: 75%;
    left: 75%;
    font-size: 40px;
    font-weight: 100;
}

.addDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    border: 3px solid black;
    border-radius:25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    gap:15%;
}

.eraserButtonDiv{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: end;
}
.eraserButton{
    width: 40px;
    height: 40px;
    border: 2.5px solid black;
    background-color: red;
    color: #000000;
    box-sizing: border-box;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
}

label{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.addInput{
    width: 90%;
    height: 80%;
    padding: 5px;
    color: #000000;
    border: 1.5px solid black;
    border-radius: 15px;
    font-size: 20px;
}

.addButton{
    width: 60%;
    height: 40px;
    border-radius: 15px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 0;
}

.resposta{
    position: absolute;
    color: #000000;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 60px;
    background-color: rgb(227, 240, 237);
    border-radius: 25px;
    box-shadow: 10px 0px 300px  rgb(227, 240, 237);
}

@media (min-width : 1024px) {
    main{
        background-image: url('/client/assets/background\ pc.png');
        filter: grayscale(0%);

    }
    .resposta{
        position: absolute;
        color: #000000;
        text-align: center;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: normal;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
        height: 200px;
        background-color: rgb(227, 240, 237);
        border-radius: 25px;
        box-shadow: 0px 0px 30px  rgb(227, 240, 237);
    }
    .add{

        width: 100px;
        height: 100px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;

        top: 80%;
        left: 90%;
        font-size: 80px;
        font-weight: 100;
        border: 4px solid black;
    }
}